Semana 05/threat_intel_diario.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        -144
      ],
      "id": "3b11f5fc-673b-43f8-9284-8078191bf09a",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        176,
        -144
      ],
      "id": "f21a48bd-8833-406f-bffb-0f1b33c87f80",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "// Pega o horário de agora e subtrai 24 horas (em milissegundos)\nconst vinteQuatroHorasAtras = new Date(Date.now() - 24 * 60 * 60 * 1000);\n\n// Filtra os itens do RSS\nreturn $input.all().filter(item => {\n  // O RSS geralmente expõe a data em 'isoDate', 'pubDate' ou 'date'\n  const dataPostagem = new Date(item.json.isoDate || item.json.pubDate || item.json.date);\n  \n  // Mantém apenas o que for mais recente que 24 horas atrás\n  return dataPostagem >= vinteQuatroHorasAtras;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -144
      ],
      "id": "73813780-f370-4d47-b94c-4143ef48a6d6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        -144
      ],
      "id": "883677a2-62a6-4562-bd14-f81d2324f10d",
      "name": "Limit"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen3.6-flash",
          "mode": "list",
          "cachedResultName": "qwen3.6-flash"
        },
        "messages": {
          "messageValues": [
            {
              "content": "Você é um analista de cybersecurity sênior. Analise notícias de segurança e crie um briefing executivo conciso em português."
            },
            {
              "content": "=Analise as seguintes notícias de cybersecurity das últimas 24h e crie um briefing executivo em português:\\n\\nTítulo: {{ $json.title }}\\nLink: {{ $json.link }}\\nData: {{ $json.isoDate }}\\nResumo: {{ $json.contentSnippet || $json.content || 'Sem resumo disponível' }}\\n\\nFormate como:\\n🔴 CRÍTICO / 🟡 MÉDIO / 🟢 BAIXO [Criticidade]\\n📌 [Título em português]\\n💡 [Resumo em 2 linhas máximo]\\n🔗 [Link da fonte]."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.alibabaCloud",
      "typeVersion": 1.1,
      "position": [
        608,
        -144
      ],
      "id": "cc879104-0456-46c5-b41c-55dc50d1d091",
      "name": "Message a model",
      "credentials": {
        "alibabaCloudApi": {
          "id": "qoEbik2uacIFFFDw",
          "name": "Alibaba Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dcorrea566@gmail.com",
        "subject": "rss feed cyber",
        "message": "={{ $items().map(item => item.json.content).join('\\n\\n----------------------------------------\\n\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        -144
      ],
      "id": "51c9c835-464e-40bd-9360-f046f3cfc54e",
      "name": "Send a message",
      "webhookId": "31f89808-0073-4aea-b755-09c868a0e1b4",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "w5v6epaUzFwjmSGn",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "70b04028-9bb2-42b2-81ca-b9ca2f780caa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a78b043e201eed4b6968b9e865b7235a924bd561433dd790d26ec682b150464c"
  },
  "id": "dTiglxRfNHfCGjcS",
  "tags": []
}