Semana 05/verificador_site.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        80
      ],
      "id": "cc8e47e8-9783-41d3-820b-3d851eef2022",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "https://horadecodar.com.br/como-usar-node-http-request-n8n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        80
      ],
      "id": "57f2339d-af9e-4e61-bc14-00983242edd3",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b531019f-3580-44cf-b1b8-1116580b671d",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        80
      ],
      "id": "cbe7671f-f0de-43ec-80d0-1e0a90d42c39",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1733153625",
        "text": "site fora do ar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        192
      ],
      "id": "5e417138-0087-46ba-889a-851ad5c46c75",
      "name": "Send a text message",
      "webhookId": "288a42a2-348e-4b7c-9571-61d5f9163a41",
      "credentials": {
        "telegramApi": {
          "id": "xLkWukEeV8RHnJ4n",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1733153625",
        "text": "site no ar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        -32
      ],
      "id": "afcba27c-1661-4cbd-b1dc-52cd7719059d",
      "name": "Send a text message1",
      "webhookId": "fdf2a7bf-6cdb-4869-8648-fb3d2da36a6b",
      "credentials": {
        "telegramApi": {
          "id": "xLkWukEeV8RHnJ4n",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3a899006-04d1-451d-bf3e-5030bd7c744b",
  "meta": {
    "instanceId": "a78b043e201eed4b6968b9e865b7235a924bd561433dd790d26ec682b150464c"
  },
  "id": "u0uUyA411isG9CyO",
  "tags": []
}